PG_USERNAME=postgres
PG_PASSWORD=dev
PG_HOST=localhost
PG_PORT=5432

DAGSTER_PG_DB=dagster
PIPELINE_PG_DB=pipeline
DAGSTER_HOME=/path/to/twod-fim-deployment/orchestrator

AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=minio123
AWS_ENDPOINT_URL=http://localhost:9000
DAGSTER_S3_BUCKET=dagster-logs
STORE_ROOT=s3://twod-fim-artifacts
MAJOR_VERSION=1
